{% extends '../layout/_layout.twig' %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="">
{% endblock %}

{% block title %}
	Homepage
{% endblock %}

{% block content %}
<ul>
{{name}}
	{% for item in items %}
		<li {% if loop.last %}data{% endif %}>{{item.name}}{{item.age}}</li>
	{% endfor %}
	{% for item in items %}
		<li {% if loop.last %}data{% endif %}>{{item.name}}{{item.age}}</li>
	{% endfor %}
		{% for item in items %}
		<li {% if loop.last %}data{% endif %}>{{item.name}}{{item.age}}</li>
	{% endfor %}
	{% import '../layout/utilities/form.twig' as indexForm %}
	{{indexForm.field('text', title, name)}}
	{% include '../layout/modules/gallery.twig' with {gallery: includes.gallery} %}
</ul>

<div>
	{% include '../layout/modules/gallery.twig' with {gallery: includes.galleryTop} %}
</div>
<div>
	{% include '../layout/modules/gallery.twig' with {gallery: includes.galleryBottom} %}
</div>

{% endblock %}